<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by Albert Kristaen (s6joxx) on 2/10/21, 9:45 PM
  ~ Copyright (c) 2021 . All rights reserved.
  ~ Last modified 2/10/21, 9:20 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xoxltn.pinjam_aja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".MainRulesReadActivity" />
        <activity android:name=".MainRulesActivity" />
        <activity android:name=".pendana.PendanaFundDetailActivity" />
        <activity android:name=".pendana.PendanaFundReqActivity" />
        <activity android:name=".registrasi.InfoRekeningActivity" />
        <activity android:name=".registrasi.InfoKontakActivity" />
        <activity android:name=".registrasi.InfoPekerjaanActivity" />
        <activity android:name=".registrasi.InfoPribadiActivity" />
        <activity android:name=".registrasi.InfoIdentitasActivity" />
        <activity android:name=".registrasi.InfoUserProfileActivity" />
        <activity android:name=".pendana.PendanaPendanaanActivity" />
        <activity android:name=".peminjam.PeminjamPembayaranActivity" />
        <activity android:name=".MainAboutActivity" />
        <activity android:name=".MainLupaPasswordActivity" />
        <activity android:name=".peminjam.PeminjamReqPinjamanActivity" />
        <activity android:name=".peminjam.PeminjamDashboardActivity" />
        <activity android:name=".pendana.PendanaDashboardActivity" />
        <activity android:name=".MainLoginActivity" />
        <activity android:name=".MainSignUpActivity" />
        <activity android:name=".MainWelcomeActivity" />
        <activity android:name=".MainSplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>