<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xoxltn.pinjam_aja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".pendana_system.PendanaFundReqDetail"></activity>
        <activity android:name=".register.InfoRekeningActivity" />
        <activity android:name=".register.InfoKontakActivity" />
        <activity android:name=".register.InfoPekerjaanActivity" />
        <activity android:name=".register.InfoPribadiActivity" />
        <activity android:name=".register.InfoIdentitasActivity" />
        <activity android:name=".register.ActivityUserProfile" />
        <activity android:name=".pendana_system.PendanaanPendanaActivity" />
        <activity android:name=".peminjam_system.PembayaranPeminjamActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".LupaPasswordActivity" />
        <activity android:name=".peminjam_system.PermintaanPinjamanActivity" />
        <activity android:name=".peminjam_system.PeminjamDashboardActivity" />
        <activity android:name=".pendana_system.PendanaDashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>